@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Spray+Paint&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(252, 252, 252);
}

.logoImg {
  width: 150px;
}
#paletteContainer {
  display: flex;
  height: 70vh;
  width: 100%;
}

.color-box {
  flex: 1;
  transition: flex 0.3s ease;
  cursor: pointer;
  border: 3px;
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in;
  color: aliceblue;
}

.color-box:hover {
  flex: 1.2;
}

.color-box:hover .hidden {
  opacity: 1;
}

select {
  margin: 10px;
}

#interactionContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: "white";
}

.generate-btn {
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Permanent Marker", cursive;
  color: white;
  border: 3px solid black;
  border-radius: 20px;
  cursor: pointer;
  max-width: 60px;

  background: linear-gradient(135deg, #ff4fd8, #a855f7, #4fffe0);

  box-shadow:
    5px 5px 0 black,
    0 0 15px #ff4fd8,
    0 0 25px #4fffe0;

  transition: all 0.3s ease;
}

.generate-btn:hover {
  transform: translate(-3px, -3px);

  box-shadow:
    8px 8px 0 black,
    0 0 25px #ff4fd8,
    0 0 40px #4fffe0;
}

.generate-btn:active {
  transform: translate(2px, 2px);

  box-shadow:
    3px 3px 0 black,
    0 0 10px #ff4fd8;
}

.paletteInputs {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin: 5px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: grey;
  padding: 30px;
}
